.grid {
    @include site_width (1160px, 200px auto);
    position: relative;

    &_checkbox {
        display: none;

        &:checked + .grid_label {
            text-shadow: 1px 0 0 $blue;
        }

        &.all {
            &:checked ~ .grid_list {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 280px);
            }
        }

        &.design, &.branding, &.illustration {
            &:checked ~ .grid_list {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 280px);

                .gameboy3, .gameboy4, .gameboy5, .gameboy6, .milk3 {
                    display: none;
                }
            }
        }

        &.design {
            &:checked ~ .grid_list {
                .milk2 {
                    grid-row: 1 / 3;
                }
            }
        }

        &.branding {
            &:checked ~ .grid_list {
                .milk2 {
                    grid-column: 3 / 4;
                    grid-row: 1 / 3;
                }
            }
        }

        &.illustration {
            &:checked ~ .grid_list {
                .milk1 {
                    grid-column: 2 / 3;
                }

                .milk2 {
                    grid-column: 3 / 4;
                    grid-row: 1 / 3;
                }
            }
        }
    }

    &_label {
        @include font ('Roboto-Regular', 18px, $blue);
        display: inline-block;
        margin: 15px;
        position: absolute;
        top: -100px;
        transition: text-shadow 0.3s linear;

        &:hover {
            text-shadow: 1px 0 0 #41228e;
        }

        &.all {
            left: 30%;
        }

        &.design {
            left: 35%;
        }

        &.branding {
            left: 47.5%;
        }

        &.illustration {
            left: 59%;
        }
    }


    &_list {
        display: grid;
        grid-gap: 25px;
    }

    &_item {
        overflow: hidden;
        border-radius: 10px;

        &.milk1 {
            grid-row: 1 / 3;
        }

        &.milk2 {
            grid-row: 2 / 4;
            grid-column: 2 / 2;
        }

        &.milk3 {
            grid-row: 3 / 5;
            grid-column: 3 / 4;
        }
    }

    &_link {
        font-size: 0;
    }

    &_image {
        height: 100%;
        transition: transform .5s linear;

        &:hover {
            transform: scale(1.2);
        }
    }

    @media (max-width: 1199px) {
        width: 95%;

        &_checkbox {
            &.all {
                &:checked ~ .grid_list {
                    grid-gap: 15px;
                    grid-template-rows: repeat(4, 25%);
                }
            }

            &.design, &.branding, &.illustration {
                &:checked ~ .grid_list {
                    grid-gap: 15px;
                    grid-template-rows: repeat(2, 50.6%);
                }
            }
        }

        &_label {
            &.all {
                left: 0%;
            }

            &.design {
                left: 25%;
            }

            &.branding {
                left: unset;
                right: 25%;
            }

            &.illustration {
                left: unset;
                right: 0%;
            }
        }

        &_image {
            width: 100%;
        }
    }

    @media (max-width: 799px) {
        &_label {
            &.all {
                top: -150px;
            }

            &.design {
                top: -150px;
                right: 0%;
                left: unset;
            }

            &.branding {
                left: 0%;
            }
        }
    }
}