.clients {
    &_title {
        @include font ('Roboto-Regular', 60px, $black);
        text-align: center;
        margin: 90px 0;
    }

    &_list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: space-between;
        width: 90%;
        max-width: 1500px;
        margin: 100px auto;
    }

    &_link {
        display: flex;
        justify-content: space-between;
        filter: grayscale(1);
        transition: filter .3s linear;

        &:hover {
            filter: grayscale(0);
        }
    }

    &_icon {
        width: 30px;
        margin-right: 20px;
    }

    &_name {
        @include font ('Roboto-Regular', 30px, $blue);
    }

    @media (max-width: 1023px) {
        &_item {
            flex: 0 0 auto;
            margin-bottom: 30px;
            width: 300px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_icon {
            @include site_width (15%);
        }

        &_name {
            font-size: rem(45px);
            align-self: center;
            margin: 0 auto;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;

    &-track {
        box-shadow: inset 0 0 5px $black4; 
        border-radius: 10px;
    }

    &-thumb {
        background: $blue; 
        border-radius: 10px;

        &:hover {
            background: $blue2; 
        }
    }
}