@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg'),
         url('../fonts/Poppins-Bold.ttf') format('truetype'),
         url('../fonts/Poppins-Bold.woff') format('woff'),
         url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '$RF2W13A';
    src: url('../fonts/$RF2W13A.eot');
    src: url('../fonts/$RF2W13A.eot?#iefix') format('embedded-opentype'),
         url('../fonts/$RF2W13A.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg'),
         url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
         url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '$R1QNTV7';
    src: url('../fonts/$R1QNTV7.eot');
    src: url('../fonts/$R1QNTV7.eot?#iefix') format('embedded-opentype'),
         url('../fonts/$R1QNTV7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg'),
         url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
         url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}