.team {
    font-family: 'Roboto-Regular';
    margin-top: 130px;

    &_title {
        @include font_size (60px, $black);
        text-align: center;
    }

    &_list {
        @include site_width (1170px);
        display: flex;
        justify-content: space-between;

        padding: 100px 0 125px;

        &_wrapper {
            background-image: url(../images/dots.png);
        }
    }

    &_item {
        width: 370px;
    }

    &_link {
        @include font_size (22px, $black);
        display: block;
        text-align: center;
        background-color: $white;
        overflow: hidden;

        &:hover::before {
            transform: scale(1.1);
            margin-top: -40px;
            height: 415px;
        }

        &::before {
            @include clearfix_c;
            @include size (100%, 375px);
            background: url(../images/girl.png) no-repeat center;
            margin-bottom: 40px;
            border-radius: 10px;
            transition: all .5s linear;
        }

        &::after {
            @include font_size (18px, $white3);
            @include clearfix;
            content: "UX Designer";
            padding: 10px 0 40px;
            margin: 0 auto;
        }
    }

    @media (max-width: 1199px) {
        &_list {
            flex-direction: column;
            width: 100%;
        }

        &_item {
            @include site_width (30%, 0 auto 50px);
            min-width: 300px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}