.work {
    @include site_width (1100px, 100px auto);

    &_title {
        @include font ('Poppins-Bold', 60px, $black);
        text-align: center;
        margin-bottom: 120px;
    }

    &_list {
        display: flex;
        justify-content: space-between;
    }

    &_item {
        width: 270px;
        text-align: center;
        position: relative;

        &_icon {
            width: 50px;
            fill: $blue;
        }

        &_title {
            @include font ('PlayfairDisplay-Regular', 22px, $black);
            margin: 20px 0;

            &::before {
                @include clearfix_c;
                position: absolute;
                z-index: -1;
            }

            &.research::before {
                @include size (45px, 60px);
                background-color: $cyan;
                top: -10px;
                left: 130px;
            }

            &.design::before {
                @include size (50px, 50px);
                border-radius: 50%;
                background-color: $cyan;
                top: 0;
                left: 120px;
            }

            &.deliver::before {
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                border-bottom: 50px solid $cyan;
                top: 0;
                left: 120px;
            }
        }

        &_description {
            @include font ('Roboto-Regular', 15px, $black);
        }
    }

    @media (max-width: 1199px) {
        width: 95%;

        &_list {
            flex-direction: column;
        }

        &_item {
            margin: 0 auto 50px;
        }
    }
}