.contact {
    &_footer {
        background-color: $black2;
        padding: 250px 0 65px;

        &_list {
            @include site_width (1175px);
            display: flex;
            justify-content: space-between;

            &_item {
                margin: 0 10px;

                &.phone {
                    margin-left: 50px;
                }

                &:last-child {
                    width: 275px;
                }

                &_title {
                    @include font_size (18px, $gray4)
                }

                &_link {
                    @include font_size (22px, $white)
                }
            }
        }
    }

    @media (max-width: 1174px) {
        &_footer {
            padding: 200px 0 50px;

            &_list {
                width: 90%;
                flex-wrap: wrap;

                &_item {
                    margin: 20px auto;

                    &.phone {
                        margin: 20px auto;
                    }

                    &:last-child {
                        @media (max-width: 1030px) {
                            width: 550px;
                            padding-left: 122px;
                        }

                        @media (max-width: 850px) {
                            width: max-content;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 640px) {
        &_footer_list_item {
            width: 90%;

            &:last-child {
                width: 90%;
            }
        }
    }
}