.header {
    position: relative;
}

.icon {
    position: absolute;

    &_bg_wrapper {
        height: 500px;
        position: relative;
        overflow: hidden;
    }

    &_content {
        display: none;
        overflow: hidden;

        &_wrapper {
            position: relative;
        }
    }

    &.bg {
        top: 0;
        width: 105%;
        display: none;
    }

    &.dots_3x4 {
        @include min_max (50px, 135px);
        width: 7%;
        z-index: 2;
        bottom: -45px;

        &.portfolio {
            right: 30%;
        }

        &.about {
            left: 30%;
        }

        &_orange.home {
            @include min_max (50px, 150px);
            width: 5%;
            bottom: 100px;
            left: 25%;
        }
    }

    &.dots_1x6.home {
        @include min_max (75px, 175px);
        width: 8%;
        bottom: 600px;
        right: 30%;
    }

    &.dots_1x8 {
        @include min_max (100px, 200px);
        width: 10%;

        &.contact, &.blog {
            bottom: 50px;
            right: 6.6%;
        }

        &.portfolio {
            bottom: 300px;
            left: 10%;
        }
    }

    &.dots_2x4 {
        @include min_max (50px, 100px);
        width: 5%;
        bottom: 350px;
        left: 10%;
    }

    &.leaf_cyan.home {
        @include min_max (100px, 200px);
        width: 12%;
        bottom: -25px;
        left: 10%;
        z-index: 1;
    }

    &.leaf_cyan2.home {
        @include min_max (100px, 300px);
        width: 14%;
        bottom: 200px;
        right: 0;
    }

    &.leaf_cyan3 {
        @include min_max (200px, 450px);
        width: 23%;
        z-index: 1;

        &.contact {
            left: 11%;
            bottom: -50px;
        }

        &.portfolio, &.about {
            bottom: -40px;
            right: -10%;
            transform: scale(1, -1);
            // transform: rotate(45deg);
        }

        &.blog {
            bottom: 275px;
            left: -7%;
            transform: scale(1, -1);
        }
    }

    &.leaf_yellow {
        width: 11%;
        right: 0;
        bottom: 500px;
    }

    &.leaf_yellow2 {
        &.contact, &.blog {
            @include min_max (150px, 250px);
            width: 12.5%;
            right: 0;
            bottom: 250px;
        }
    }

    &.leaf_orange {
        &.contact {
            @include min_max (40px, 100px);
            width: 4.5%;
            bottom: 100px;
            right: 26.3%;
        }

        &.portfolio {
            @include min_max (70px, 200px);
            width: 7%;
            bottom: 360px;
            left: 45%;
        }

        &.blog {
            @include min_max (50px, 120px);
            width: 7%;
            bottom: 100px;
            right: 30%;
        }

        &.about {
            @include min_max (50px, 120px);
            width: 7%;
            bottom: 100px;
            left: 15%;
        }

        &.home {
            @include min_max (40px, 150px);
            width: 7%;
            bottom: 500px;
            left: 25%;
        }
    }

    &.leaf_orange2 {
        @include min_max (125px, 450px);
        width: 18%;

        &.portfolio {
            bottom: -75px;
            left: 10%;
            z-index: 1;
        }

        &.about {
            bottom: 200px;
            left: 30%;
        }
    }

    &.leaf_pink.home {
        @include min_max (75px, 350px);
        width: 14%;
        bottom: 400px;
    }

    &.leaf_pink2 {
        &.contact {
            @include min_max (60px, 100px);
            width: 5.5%;
            bottom: 225px;
            left: 5.6%;
        }

        &.portfolio {
            @include min_max (60px, 200px);
            width: 10%;
            bottom: 350px;
            left: -3%;

            @media (max-width: 775px) {
                display: none;
            }
        }

        &.blog {
            @include min_max (60px, 130px);
            width: 6%;
            bottom: -30px;
            left: 15%;
            z-index: 2;
        }

        &.home {
            @include min_max (75px, 130px);
            width: 5%;
            bottom: 150px;
            right: 30%;
        }
    }

    &.leaf_pink3 {
        @include min_max (50px, 120px);
        width: 6%;

        &.contact {
            bottom: 300px;
            left: 41%;
        }

        &.blog {
            left: 45%;
            bottom: 300px;
        }
    }

    @media (max-width: 1599px) {
        .contact_header {
            height: 400px;
        }

        &_bg_wrapper {
            height: 400px;
        }

        &.bg {
            width: 1599px;
        }

        &.dots_3x4 {
            &.portfolio, &.about {
                bottom: -20px;
            }
        }

        &.leaf_cyan3.contact {
            bottom: -40px;

            @media (max-width: 1024px) {
                bottom: -30pxS;
            }
        }

        &.leaf_orange2.portfolio {
            bottom: -40px;
        }
    }
}