.header {
    &_text {
        &_wrapper {
            @include font('Roboto-Regular', 46.1px, $white);
        }

        &_titles {
            display: none;
            position: absolute;
            z-index: 3;
            transform: translate(-50%);
            top: 40%;
            left: 50%;

            &.home {
                width: 450px;
                top: 200px;
                left: 51%;

                @media (max-width: 775px) {
                    font-size: rem(30px);
                    width: 60%;
                }
            }
        }
    }
}