$white: #ffffff; 
$white2: #fbfdff; 
$white3: #dddddd;
$white4: #c6bddd;
$white5: #c8d5ef;

$black: #000000; 
$black2: #222222; 
$black3: #363636; 
$black4: #373738;

$gray: #b3b3b3; 
$gray2: #4c4c4c; 
$gray3: #c7c7c7; 
$gray4: #7a7a7a; 
$gray5: #585858;
$gray6: #999999;


$blue: #41228e; 
$blue2: #3b1d85;
$blue3: #3b5998;
$blue4: #053eff;
$blue5: #8d7abb;

$cyan: #3ef8f4;
$cyan2: #2bfdff;

$pink: #f700ff;
$pink2: #ea4c89;

$base_font_size: 16px;
$desktop: 1024px;
$tablet: 768px;


