.icon_bg_wrapper {
    height: 865px;

    @media (max-width: 1599px) {
        height: 600px;
    }
}

.header_socnet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    bottom: 50px;
    left: 75px;

    &_icon {
        height: 17px;
        fill: $white;
        transition: fill .5s linear;

        &.facebook:hover {
            fill: $blue3;
        }

        &.instagram:hover {
            fill: $pink;
        }

        &.dribble:hover {
            fill: $pink2;
        }

        &.behance:hover {
            fill: $blue4;
        }
    }

    @media (max-width: 775px) {
        flex-direction: row;
        width: 200px;
        height: unset;
        margin: 0 auto;
        left: 0;
        right: 0;

        &_icon {
            height: 25px;
        }
    }
}