.services {
    @include site_width (1110px);

    &_title {
        @include title;
        margin-bottom: 100px;
    }

    &_list{
        display: flex;
        justify-content: space-between;
    }

    &_item {
        text-align: center;
        padding: 90px 50px 80px;

        &:hover {
            background-color: $blue;
            color: $white;
        }

        &:hover > &_icon.ellipse {
            display: none;
        }

        &:hover > &_icon.camera {
            display: block;
        }

        &:hover > &_title {
            color: $white;
        }

        &:hover > &_description {
            color: $white4;
        }

        &_icon {
            &.camera {
                @include size (60px, 60px);
                display: none;
                fill: $white;
                margin: -18px auto 0;
            }
        }

        &_title {
            @include font ('PlayfairDisplay-Regular', 22px, $black);
            margin: 50px 0 30px;

            &:hover {
                color: $white;
            }
        }

        &_description {
            @include font ('Roboto-Regular', 15px, $gray5);
        }
    }

    @media (max-width:1109px) {
        width: 95%;
    }

    @media (max-width: 950px) {
        &_list {
            flex-direction: column;
        }

        &_item {
            padding: 70px 150px 50px;

            @media (max-width: 650px) {
                padding: 50px 30px 30px;
            }
        }
    }
}